.container-elements {
  width: 100%;
  margin: 0 auto;
}

.elements {
  margin: 122px 0 0 184px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right-side {
  padding-left: 30px;
  padding-right: 0;
  width: 700px;
}

.right-side h2 {
  margin-bottom: 58px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 41px;
  letter-spacing: 0.01em;

  color: #000000;
}

.right-side p {
  width: 100%;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.01em;

  color: #000000;
}

.footer-elements {
  width: 100%;
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 126px;
  padding-bottom: 126px;
}

.footer-elements button {
  width: 211px;
  height: 55px;
  cursor: pointer;
  border-radius: 30px;

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
}

.go-home {
  background: #ffffff;
  border: 1px solid #d3d3d3;

  color: #cacaca;
}

.pay {
  background: #fe5f1e;
  border: none;

  color: #ffffff;
}
