@import url("https://fonts.cdnfonts.com/css/proxima-nova-2");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: #ffdf8c;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 43px 0;
  font-family: "Proxima Nova", sans-serif;
}
